.container-error {
  display: flex;
  justify-content: center;
}
.error {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 50%;
}