.error-boundary-container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
  row-gap: 1rem;
}